PORT=4000
HOST=localhost
AMBIENTE=DEV
MONGO_URI=mongodb://127.0.0.1:27017/ALENTO?directConnection=true
MONGO_URI_DOCKER=mongodb://mongo:27017/ALENTO?directConnection=true
SESSION_NAME=alento.sid
PASSWORD_PEPPER=troque-por-um-segredo-longo
SUPERADMIN_NAME=Super Administrador
SUPERADMIN_EMAIL=superadmin@alento.local
SUPERADMIN_PASSWORD=TroqueEssaSenhaSuper123
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin
ADMIN_PASSWORD=TroqueEssaSenha123
CLOUDFLARE_TUNNEL_TOKEN=
