DB_HOST=localhost
DB_PORT=27017
DB_URI=mongodb://127.0.0.1:27017/HDI
DB_URI_DOCKER=mongodb://host.docker.internal:27017/HDI
HOST=0.0.0.0
SERVER_PORT=3000
LDAP_AUTH=environment.cge.rj.gov.br
LDAP_AUTH_TOKEN=
EMAIL_HOST=imaps2.webmail.rj.gov.br
EMAIL_PORT=465
EMAIL_USER=
EMAIL_PASS=
AMBIENTE=""
COOKIE_PARSER_KEY=
SECRET_KEY=
LOCAL_ADMIN_USERNAME=admin
LOCAL_ADMIN_PASSWORD=123
LOCAL_ADMIN_EMAIL=admin@local.hdi
LOCAL_USER_USERNAME=usuario
LOCAL_USER_PASSWORD=123
LOCAL_USER_EMAIL=usuario@local.hdi
CLOUDFLARE_TUNNEL_TOKEN=
