.card {
  background-color: var(--white);
  border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;

  & .card-cover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 120px; 
    background-size: cover;
    background-position: center;
  }

  & .card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    & h3 {
      font: var(--paragraph);
    }

    & .details-wrapper {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .badges {

        display: flex;
        align-items: center;
        gap: 8px;

        color: var(--color-1);
        font: var(--small-2);

        & i {
          font-size: 14px;
        }

        & .badge-date.badge-late {
          color: var(--white);
          font-weight: bold;
          padding: 2px 5px;
          background-color: var(--danger);
          border-radius: 8px;
        }

      }

      & .card-members {
        display: flex;
        gap: -5px;

        & .card-member-ball {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          padding: 5px;
          border-radius: 50%;
          background-color: var(--color-1);
          color: var(--gray-color);
          font: var(--small-2);
          margin-left: -5px;
          border: 2px solid var(--white);
        }
      }
    }
  }
}