<div class="boards-wrapper js-lists-container">
    <% lists.forEach(list => { %>
      <%- include('./list', { list, cards, board, myRole }) %>
    <% }) %>
    <!-- Formulário para criação de uma nova lista -->
    <div class="add-list-wrapper">
      <% if (myRole !== 'observer') { %>
        <button id="btn-add-list" class="add-list-btn" onclick="showListForm()">
          <img src="../assets/icons/plus.svg" alt="">
          Nova Lista
        </button>
      <% } %>
      <form
        id="form-add-list"
        onsubmit="handleCreateList(event)"
        class="add-list-form"
        style="display: none"
      >
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Título da lista..."
          required
          autofocus
        />
    
        <div class="form-actions">
          <button type="submit">Adicionar Lista</button>
          <i class="ri-close-line" onclick="hideListForm()"></i>
        </div>
      </form>
    </div>
  </div>